<div id="<%= dom_id user %>">
  <p>
    <strong>User:</strong>
    <%= user.user_id %>
  </p>

  <p>
    <strong>Library:</strong>
    <%= user.library_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= user.surname %>
  </p>

  <p>
    <strong>Pesel:</strong>
    <%= user.pesel %>
  </p>

</div>
