<div id="<%= dom_id borrowing %>">
  <p>
    <strong>Copy:</strong>
    <%= borrowing.copy_id %>
  </p>

  <p>
    <strong>Reader:</strong>
    <%= borrowing.reader_id %>
  </p>

  <p>
    <strong>Borrowing date:</strong>
    <%= borrowing.borrowing_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= borrowing.return_date %>
  </p>

</div>
