<div id="<%= dom_id book %>">
  <p>
    <strong>Book:</strong>
    <%= book.book_id %>
  </p>

  <p>
    <strong>Library:</strong>
    <%= book.library_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

</div>
